@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #F8F8F8;
    color: #05372D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #2c554d solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
#main-header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 1;
}

.header-hidden {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #05372D;
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
}
nav ul li a:hover{
    color: #7fc0b3;

}
/*  banner */
.banner {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between; 
}

.banner-text {
    flex: 1; 
    text-align: center;
}

.banner-text h1 {
    font-size: 24px;
}

.banner-image img {
    width: 600px;
}

.content {
    padding: 20px;
    text-align: center; 
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button label {
    margin-top: 10px;
}

.button img {
    max-width: 100%;
    height: auto;
}
.button img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out; 
}
.estudiante{
    width: 350px;
}
.profesor{
    width: 400px;
}
footer {
    background-color: #05372D;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 18px;
}