@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;900&display=swap');
*{
    font-family: 'Urbanist', sans-serif;
}
body {
    margin: 0;
    padding: 0;

}
header {
    background-color: #2176FF;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 70px;
    position: relative;
}
nav {
    float: left;
    position: absolute;
    bottom: 0;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-size: 14pt;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
}
nav ul li:hover {
    background: #5F5B6B;
}
#logo {
    width: 95px;
    height: 95px;
    margin-right: 10px;
    margin-bottom: 20px;
}
h1 {
    color: #ffffff;
    margin: 0;
}
nav {
    background-color: #2176FF;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    transition: color 0.3s;
}
nav a:hover {
    color: green;
}
main {
    display: flex;
    padding: 20px;
}
aside {
    background-color: #2176FF;
    padding: 20px;
    margin-right: 20px;
    width: 30%;
    height: 580px;
    border-radius: 10px;
}
#form-labels {
    text-align: center;
    gap: 15px;
}
#form-labels label {
    display: block;
    gap: 15px;
    text-align: left;
    margin-bottom: 10px;
}
#textarea-aside {
    background-color: #2176FF;
    padding: 20px;
    width: 100%;
}
#file-buttons {
    margin-top: 20px;
}
textarea{
    width: 100%;
}
input{
    background-color: #FDFDFF;
    padding: 15px;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}
label{
    font-size: larger;
    color: #fff;
}
h3, p{
    color: #ffffff;
}