@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600;10..48,800&family=Phudu:wght@500&family=Quicksand&display=swap');
*{
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Phudu', cursive;
font-family: 'Quicksand', sans-serif;
}
body {
    margin: 0;
    padding: 0;

}
header {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 70px;
    position: relative;
}
nav {
    float: left;
    position: absolute;
    bottom: 0;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-size: 14pt;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #93d47f;
    text-decoration: none;
    padding: 8px 15px;
}
nav ul li:hover {
    background: #5F5B6B;
}
#logo {
    width: 95px;
    height: 95px;
    margin-right: 10px;
}
h1 {
    color: green;
    margin: 0;

}
nav {
    background-color: #f0f0f0;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    transition: color 0.3s;
}
nav a:hover {
    color: green;
}
main {
    display: flex;
    padding: 20px;
}
aside {
    background-color: #ccc;
    padding: 20px;
    margin-right: 20px;
    width: 30%;
}
#form-labels {
    text-align: center;
}
#form-labels label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
#textarea-aside {
    background-color: #ccc;
    padding: 20px;
    width: 100%;
}
#file-buttons {
    margin-top: 20px;
}